/ktor-service/.gradle 
/ktor-service/build   
/ktor-service/.idea

/ktor-koin-service/.gradle
/ktor-koin-service/build
/ktor-koin-service/.idea

/classic-service/.gradle
/classic-service/build
/classic-service/.idea
